.place__paragraph {
    max-width: 484px;
    grid-row: 2;
    font-size: 18px;
    line-height: 29px;
    color: #FFF;
    margin: 0;
    padding-bottom: 26px;
}

.place__paragraph:last-of-type {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 576px) {
    .place__paragraph {
        max-width: 288px;
    }
}