.intro__text {
    max-width: 690px;
    max-height: 208px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 33px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
        max-height: 208px;
        margin: 0 auto 33px;
    }
}

@media screen and (max-width: 576px) {
    .intro__text {
        max-width: 288px;
        max-height: 520px;
        margin-bottom: 34px;
    }
}